.progress {
  width: 100%;
  top: 0;
  position: fixed;
}

.no-data {
  display: block;
  color: #aaa;
  text-align: center;
  margin-top: 20px;
}

.has-data {
  display: none;
}

.items {
  width: 100%;
  padding-bottom: 80px;

  .item {
    height: 80px;
    padding: 10px;
    border-bottom: 1px #f6f6f6 solid;

    &:last-child {
      border-bottom: none;
    }

    .item-slideview {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row nowrap;
      overflow: hidden;
      justify-content: space-between;

      .item-body {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        transition: all 0.4s;
        transform: translateX(120px);
        margin-left: -120px;
        margin-right: 0;
        
        .item-body-info {
          flex: 2;
          display: flex;
          flex-flow: column nowrap;
          overflow: hidden;
          height: 100%;

          .item-body-info-issuer {
            flex: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 30px;
            text-align: center;
            color: #636363;
          }

          .item-body-info-username {
            color: gray;
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12px;
            text-align: center;
          }
        }

        .item-body-code {
          flex: 3;
          font-size: 50px;
          text-align: center;
        }
      }
    }
  }
}

.footer {
  height: 50px;
  width: 100%;
  background-color: rgb(241, 243, 255);
  position: fixed;
  bottom: 0;
  border: 1px solid black;
  border-radius: 20px;
  margin-bottom: 10px;
  box-sizing:border-box;

  .add {
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}