# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/

miniprogram/miniprogram_npm/

# Added by cargo

/target

# 开发
miniprogram.sqlite3
config.toml
http-client.private.env.json
project.private.config.json
