[bin.api]
listen="0.0.0.0"
port=8080
debug=true

[databases.default]
url="postgres://localhost:5432/miniprogram"
min_connections=2
max_connections=20
acquire_timeout=1

[short_url]
domain="https://u.ysdor.cn"

[wechat]
url="https://api.weixin.qq.com"
app_id=""
app_secret=""