[bin.api]
listen="0.0.0.0"
port=8080

[databases.default]
url="sqlite://miniprogram.sqlite3"
connection_timeout=1
idle_timeout=600
max_lifetime=1800
max_connections=30
min_connections=2
acquire_timeout=3

[shortlink]
domain="https://u.ysdor.cn"

[wechat]
url="https://api.weixin.qq.com"
app_id=""
app_secret=""