@import '../../third-party/weui/app.scss';

.tools-list {
  .tools-list__item {
    margin: 10px 0;
    background-color: #f6f6f6;
    border-radius: 2px;
    overflow: hidden;
  
    &:first-child {
      margin-top: 0
    }

    .weui-flex.tools-list__item-hd {
      padding: 20px;
      -webkit-transition: opacity .3s;
      transition: opacity .3s;

      .tools-list__item-hd-text {
        flex: 1;
      }

      .tools-list__item-hd-icon {
        justify-content: flex-end;
      }
    }
  }  
}
