.userinfo {
  color: #aaa;

  .avatar-button {
    overflow: hidden;
    width: 128rpx;
    height: 128rpx;
    border-radius: 50%;
  }

  .avatar {
    width: 128rpx;
    height: 128rpx;
  }
}

.usermotto {
  margin-top: 200px;
}