.weui-half-screen-dialog {
  max-height: 80%;
}

.weui-icon-btn.weui-icon-btn_more {
  display: none;
}

.operation {
  .weui-btn {
    margin-top: 50px;
  }
}

.desc {
  height: 300px;
}

.timestampConvert {
  .weui-cells {
    margin-top: 0;
  }

  .submit {
    padding: 20px;
  }

  .title {
    text-align: center;
  }
}

