// @see: https://github.com/Tencent/tdesign-miniprogram/blob/develop/src/common/style/_variables.less

// 公共前缀
$prefix: t;

$primary-color-1: var(--td-primary-color-1, #f2f3ff);
$primary-color-2: var(--td-primary-color-2, #d9e1ff);
$primary-color-3: var(--td-primary-color-3, #b5c7ff);
$primary-color-4: var(--td-primary-color-4, #8eabff);
$primary-color-5: var(--td-primary-color-5, #618dff);
$primary-color-6: var(--td-primary-color-6, #366ef4);
$primary-color-7: var(--td-primary-color-7, #0052d9);
$primary-color-8: var(--td-primary-color-8, #003cab);
$primary-color-9: var(--td-primary-color-9, #002a7c);
$primary-color-10: var(--td-primary-color-10, #001a57);

$error-color-1: var(--td-error-color-1, #fff0ed);
$error-color-2: var(--td-error-color-2, #ffd8d2);
$error-color-3: var(--td-error-color-3, #ffb9b0);
$error-color-4: var(--td-error-color-4, #ff9285);
$error-color-5: var(--td-error-color-5, #f6685d);
$error-color-6: var(--td-error-color-6, #d54941);
$error-color-7: var(--td-error-color-7, #ad352f);
$error-color-8: var(--td-error-color-8, #881f1c);
$error-color-9: var(--td-error-color-9, #68070a);
$error-color-10: var(--td-error-color-10, #490002);

$warning-color-1: var(--td-warning-color-1, #fff1e9);
$warning-color-2: var(--td-warning-color-2, #ffd9c2);
$warning-color-3: var(--td-warning-color-3, #ffb98c);
$warning-color-4: var(--td-warning-color-4, #fa9550);
$warning-color-5: var(--td-warning-color-5, #e37318);
$warning-color-6: var(--td-warning-color-6, #be5a00);
$warning-color-7: var(--td-warning-color-7, #954500);
$warning-color-8: var(--td-warning-color-8, #713300);
$warning-color-9: var(--td-warning-color-9, #532300);
$warning-color-10: var(--td-warning-color-10, #3b1700);

$success-color-1: var(--td-success-color-1, #e3f9e9);
$success-color-2: var(--td-success-color-2, #c6f3d7);
$success-color-3: var(--td-success-color-3, #92dab2);
$success-color-4: var(--td-success-color-4, #56c08d);
$success-color-5: var(--td-success-color-5, #2ba471);
$success-color-6: var(--td-success-color-6, #008858);
$success-color-7: var(--td-success-color-7, #006c45);
$success-color-8: var(--td-success-color-8, #005334);
$success-color-9: var(--td-success-color-9, #003b23);
$success-color-10: var(--td-success-color-10, #002515);

$gray-color-1: var(--td-gray-color-1, #f3f3f3);
$gray-color-2: var(--td-gray-color-2, #eeeeee);
$gray-color-3: var(--td-gray-color-3, #e7e7e7);
$gray-color-4: var(--td-gray-color-4, #dcdcdc);
$gray-color-5: var(--td-gray-color-5, #c5c5c5);
$gray-color-6: var(--td-gray-color-6, #a6a6a6);
$gray-color-7: var(--td-gray-color-7, #8b8b8b);
$gray-color-8: var(--td-gray-color-8, #777777);
$gray-color-9: var(--td-gray-color-9, #5e5e5e);
$gray-color-10: var(--td-gray-color-10, #4b4b4b);
$gray-color-11: var(--td-gray-color-11, #383838);
$gray-color-12: var(--td-gray-color-12, #2c2c2c);
$gray-color-13: var(--td-gray-color-13, #242424);
$gray-color-14: var(--td-gray-color-14, #181818);

$font-gray-1: var(--td-font-gray-1, rgba(0, 0, 0, 0.9));
$font-gray-2: var(--td-font-gray-2, rgba(0, 0, 0, 0.6));
$font-gray-3: var(--td-font-gray-3, rgba(0, 0, 0, 0.4));
$font-gray-4: var(--td-font-gray-4, rgba(0, 0, 0, 0.26));

$font-white-1: var(--td-font-white-1, rgba(255, 255, 255, 1));
$font-white-2: var(--td-font-white-2, rgba(255, 255, 255, 0.55));
$font-white-3: var(--td-font-white-3, rgba(255, 255, 255, 0.35));
$font-white-4: var(--td-font-white-4, rgba(255, 255, 255, 0.22));

// 主题
$brand-color: var(--td-brand-color, $primary-color-7);
$brand-color-active: var(--td-brand-color-active, $primary-color-8);
$brand-color-disabled: var(--td-brand-color-disabled, $primary-color-3);
$brand-color-focus: var(--td-brand-color-focus, $primary-color-1);
$brand-color-light: var(--td-brand-color-light, $primary-color-1);
$brand-color-light-active: var(--td-brand-color-light-active, $primary-color-2);

// 文字
$text-color-primary: var(--td-text-color-primary, $font-gray-1);
$text-color-secondary: var(--td-text-color-secondary, $font-gray-2);
$text-color-placeholder: var(--td-text-color-placeholder, $font-gray-3);
$text-color-disabled: var(--td-text-color-disabled, $font-gray-4);
$text-color-anti: var(--td-text-color-anti, $font-white-1);
$text-color-brand: var(--td-text-color-brand, $brand-color);
$text-color-link: var(--td-text-color-link, $brand-color);
