.items {
  .item {
    width: 100%;
    height: 80px;
    padding: 10px;
    border-bottom: 1px #f6f6f6 solid;

    &:last-child {
      border-bottom: none;
    }

    movable-area {
      width: 100%;
      height: 100%;

      movable-view {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row wrap;

        .item-loading {
          flex: 1;
          height: 100%;
        }

        .item-body {
          flex: 3;
          display: flex;
          flex-flow: column wrap;
          overflow: hidden;

          .item-body-info {
            flex: 1;
            display: flex;
            flex-flow: row nowrap;
            color: gray;
            font-size: 12px;
            width: 100%;

            .item-body-info-issuer {
              flex: 1;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .item-body-info-username {
              flex: 1;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          .item-body-code {
            flex: 3;
            font-size: 40px;
          }
        }
      }
    }
  }
}

.footer {
  background-color: #f6f6f6;
  padding: 10px;
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;

  .title {
    font-size: xx-small;
    font-weight: bold;
  }

  .desc {
    font-size: 10px;
  }
}